nav {
  max-width: 800px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  div {
    width: 42%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;

    a {
      line-height: 1.5;
      font-size: 1.6rem;
      padding: 10px;
      text-decoration: none;
      color: black;
    }
  }
}